body {
  margin: 0;
  padding: 0; }

.show {
  display: block; }

.hide {
  display: none; }

.combine-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }

.information {
  height: 90vh;
  overflow: hidden;
  border: 1px solid #000;
  width: 350px;
  margin: 10px; }
  .information .my-button {
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #1b4be7;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    cursor: pointer; }
    .information .my-button:hover {
      -webkit-transition: 0.2s ease-in-out all;
      -o-transition: 0.2s ease-in-out all;
      transition: 0.2s ease-in-out all;
      background-color: #fff;
      border: 1px solid #000;
      letter-spacing: 5px; }
    .information .my-button:focus {
      outline: none; }

.person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .person-info .info-text {
    font-size: 20px; }

.state-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 90vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
  border: 1px solid #000;
  width: 100%;
  margin: 0px 0px 0px 10px; }
  .state-list .custom-article {
    border: 2px solid #000;
    width: 200px;
    height: 300px;
    margin: 10px;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }

.container-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .container-editor .edit-buttons {
    width: 70%;
    border: 1px solid #000;
    border-bottom: none; }
  .container-editor .editor {
    height: 500px;
    width: 70%;
    border: 1px solid #000; }
    .container-editor .editor:focus {
      outline: none; }
    .container-editor .editor .article-title {
      height: 30px;
      width: 100%;
      border: 1px solid #000; }
