@import 'variables';

body {
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.combine-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.information {
  height: 90vh;
  overflow: hidden;
  border: 1px solid #000;
  width: 350px;
  margin: 10px;
  .my-button {
    border: none;
    padding: 10px;
    width: 100%;
    background-color: $colorButton;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    &:hover {
      transition: 0.2s ease-in-out all;
      background-color: #fff;
      border: 1px solid #000;
      letter-spacing: 5px;
    }
    &:focus {
      outline: none;
    }
  }
}

.person-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  .info-text {
    font-size: 20px;
  }
}

.state-list {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;
  overflow: auto;
  border: 1px solid #000;
  width: 100%;
  margin: 0px 0px 0px 10px;

  .custom-article {
    border: 2px solid #000;
    width: 200px;
    height: 300px;
    margin: 10px;
    flex-basis: 20%;
  }
}
