.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
  .text-center {
    text-align: center;
  }
  .my-button {
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $colorButton;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    &:hover {
      transition: 0.2s ease-in-out all;
      background-color: #fff;
      border: 1px solid #000;
      letter-spacing: 5px;
    }
    &:focus {
      outline: none;
    }
  }
}
